# Values are read in test/privy/integration/integration_test_helper.rb

# Details of the Privy APP used for the integration tests
TEST_APP_ID=
TEST_APP_SECRET=

# Details of the custom auth JWT used for resource ownership
JWT_AUTH_SK=

# Test account details
TEST_APP_TEST_ACCOUNT_OTP=
